body {
	background: #000000;
	color: #CCCCCC;
}

/* global link and p, ul, ol, heading, etc. styles */

a:link, a:visited {
	color: #48ACDE;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
	color: #48ACDE;
}

h1, h2, h3 {
	margin-top: 0;
	font-weight: normal;
	color: #CCCCCC;
}

p, i, b, ul, ol {
	margin: 0 0 0px 0;
	/*margin: 0px;*/
	text-align: left;
	line-height: 24px;
}

img {
	border: none;
}

img.left {
	float: left;
	margin-right: 12px;
}

img.right {
	float: right;
	margin-left: 12px;
}

input, textarea {
	background: #333333;
	color: #CCCCCC;
	border: 1px solid #545454;
}

blockquote {
	background: #333333;
	color: #CCCCCC;
	border: 1px solid #545454;
	padding: 6px 6px 0px 6px;
}

/* custom alignments */

/*.alignleft {
	margin-right: 12px;
	margin-top: 6px;
	float: left;
}

.alignright {
	margin-left: 12px;
	margin-top: 6px;
	float: right;
}

.aligncenter {
	vertical-align: middle;
}*/

/*LOGO STUFF*/

#logo {
	margin: 0 auto;
}

#logo h1, #logo h2 {
	margin: 0;
	padding: 0 0 0 0px;
	line-height: normal;
}

#logo h1 { 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:36px;
	font-style: italic;
}

#logo h1 a {
	text-decoration: none;
	color: #EEEEEE; 
}

#logo h1 a:hover { text-decoration: underline; }

#logo h2 {
	padding: 0px 0 0 0px;
	font: italic 14px Georgia, "Times New Roman", Times, serif;
	color: #48ACDE;
}

#logo p a {
	text-decoration: none;
	color: #B6ACA2;
}

#logo p a:hover { text-decoration: underline; }

/* nav */

#navigation {
	padding: 10px 0px 0px 0px;
	margin-bottom: 12px;
}

#navigation ul {
	margin: 0;
	padding: 0px 0 0 0px;
	list-style: none;
	line-height: normal;
}

#navigation li {
	/*display: block;*/
	/*float: left;*/
}

#sidebar1 {
	display: none;
}

/* Posts */

.post {
	padding-left: 16px; 
	padding-right: 16px; 
}

.post h1 {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	-webkit-margin-before: 0.0em;
	-webkit-margin-after: 0.0em;
}

.post .entry {
	padding: 6px 0 0 0;
}

.post p {
	margin-bottom: 12px;
}

.post ul, ol {
	margin-bottom: 12px;
}

.post li {
	margin: 0 0 0px 0;
	/*margin: 0px;*/
	list-style: none;
	line-height: 24px;
}

.post .title h2 {
	margin-bottom: 0px;
}

.post .meta {
	color: #999999;
	margin: 0px;
	display: inline;
	font-size: 12px;
}

.post .footer {
	margin: 8px 0 8px 0;
}

.separator {
	width: 95%;
	margin: auto;
	margin: 16px auto 8px auto;
	border-top: 1px dashed #CCCCCC;
}

.cat-item {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #CCCCCC;
}

/* comment form(s) */

#respond {
	
}

#respond p {
	
}

#respond .comment-notes {
	
}

#respond .required {
	color: #48ACDE;
	margin-bottom: 100px;
}

#respond .form-allowed-tags {
	font-size: 10px;
	line-height: 10px;
	margin-bottom: 12px;
}

#respond input {
	background: #333333;
	color: #CCCCCC;
}

/* the actually comment form textarea */
#comment {
	width: 100%;
	background: #333333;
	color: #CCCCCC;
	margin-bottom: 0px;
}

/* comments */

.commentlist ol {
	/*margin-bottom: 6px;*/
}

.commentlist li {
	/*margin-bottom: 6px;*/
	padding: 6px;
}

.commentlist ul { /* sub comments, should only appear on top sub-comment */
	margin-top: 6px;
}

.comment-author-admin {
	/*background: #333333;
	border: 1px solid #545454;*/
}

.comment-author {
	padding: 6px;
	background: #333333;
	border: 1px solid #545454;
}
